* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mulish', sans-serif;
}

.body {
    background-color: rgba(70, 130, 180, 1);
    color: white;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    padding: 40px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: rgba(42, 78, 108, 1);
    border-radius: 7px;
}

.form .title {
    font-size: 32px;
    font-weight: bold;
}

.form input {
    width: 100%;
    background-color: transparent;
    padding: 10px 0px 14px 0px;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 18px;
}

.form input:focus-visible {
    outline: none;
    border-bottom: 2px solid rgb(173, 216, 230);
    z-index: 2;
}

.form .button {
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    border: none;
    background-color: rgba(173, 216, 230, 1);
    font-size: 16px;
}

.form p{
    width: 100%;
    display: flex;
    text-align: left;
}

.form a {
    margin-left: 5px;
    text-decoration: none;
    color: rgb(161, 214, 230);
}

.form #email, .form #password{
    width: 100%;
    position: relative;
}

.letter{
    font-size: 18px;
    position: absolute;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

span.letter.down{
    transform: translateY(calc(100% - 10px));
}

span.letter.up{
    transform: translateY(calc(100% - 40px));
    color: rgb(173, 216, 230);
}
